* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #6c2d0c;
  padding: 1rem 0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu a:hover {
  color: #a9746e;
  }

main {
  padding: 2rem 0;
}

.form-container {
  max-width: 600px;
  margin: 3rem auto;
  background-color: #fffdfb;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(73, 33, 5, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #6c2d0c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

input, select {
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #c2b4ab;
  background-color: #fefcfb;
  font-size: 1rem;
  transition: border 0.2s ease;
}

input:focus, select:focus {
  border-color: #a9746e;
  outline: none;
}

button {
  background-color: #6b4c3b;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #91572a;
}

footer {
  background-color: #eee4dd;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #3e2d26;
  margin-top: 250px;
}

@media (max-width: 480px) {
  .form-container {
    padding: 1.5rem;
  }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/3134170-bege-papel-de-parede-textura-para-fundo-gratis-foto.jpg);
}

.form-container {
  box-shadow: 0 8px 24px rgba(108, 46, 12, 0.671); /* sombra*/
}

h2 {
  font-family: 'Times New Roman', Times, serif;
}