* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ab9d9884;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #6c2d0c;
  padding: 1rem 0;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu a:hover {
  color: #a9746e;
  }

main {
  padding: 2rem 0;
}

#livros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.livro {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.livro img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.livro a {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #6c2d0c;
  font-weight: bold;
}

.livro a:hover {
  color: #a9746e;
  text-decoration: underline;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  justify-content: flex-end;
}

.categoria {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #222;
  border-left: 5px solid #6c2d0c;
  padding-left: 10px;
}

.livros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.livro {
  box-shadow: 0 8px 24px rgba(108, 46, 12, 0.363); /* sombra*/
}

/* --- Botões de ação minimalistas (sem fundo) --- */
.acoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
}

.acoes button {
  background: none;
  border: none;
  color: #4a3c31;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.acoes button:hover {
  color: #a9746e;
  transform: scale(1.2);
}

.btn-del {
  color: #8b0000;
}

.btn-del:hover {
  color: #ff0000;
}

.btn-edit {
  color: #003366;
}

.btn-edit:hover {
  color: #0077ff;
}

.logout-btn {
  background-color: #6c2d0c;
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #a9746e;
  border-color: #a9746e;
}
